.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  overflow: hidden;
}

.column {
  flex: 0.35;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-input-field {
  width: 100%;
}

.login-form-submit {
  display: flex;
  justify-content: center;
}


