<div class="webshop">
    <div *ngFor="let item of shopItems" class="item">
        <img [src]="item.imageUrl" alt="{{ item.name }}" />
        <h1>{{ item.name }}</h1>
        <h2>{{ item.description }}</h2>
        <h2 class="price">{{ item.price | currency: 'USD':true }}</h2>
        <div *ngIf=UserStorageService.isCustomerLoggedIn()>
          <button mat-raised-button color="primary" type="submit"
                  (click)="addToCart(item)">Add to Cart</button>
        </div>
    </div>
</div>
