.shopping-list {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.shopping-list-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: calc(33.33% - 20px);
}

.shopping-list-item img {
  max-width: 30%;
  height: auto;
}

.price {
  color: green;
  font-weight: bold;
}

.order-submit {
  width: 100%; /* Take up the full width of the container */
  text-align: center;
  //margin-top: 20px; /* Adjust the margin as needed */
}

.order-submit-button {
  cursor: pointer;
}
